<div class="workout container">
    <h2>Add New Workout</h2>
    <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()" class="workout-form">

        <div class="form-group">
            <label for="name">Workout Name: </label>
            <input type="text" id="name"
            formControlName="name" placeholder="e.g. Push-ups"/>
        </div>

        <div class="form-group">
            <label for="duration">Duration: </label>
            <input type="number" id="duration"
            formControlName="duration" />
        </div>   

        <div class="form-group">
            <label for="type">Workout Type: </label>
            <input type="text" id="type"
            formControlName="type" placeholder="e.g. Strength"/>
        </div>   

        <div class="form-group">
            <label for="difficulty">Difficulty: </label>
            <input type="text" id="difficulty"
            formControlName="difficulty" placeholder="e.g. Beginner"/>
        </div>   

        <div class="form-actions">
            <button type="submit" [disabled]="workoutForm.invalid" 
            class="btn-submit">Add Workout</button>
        </div>
    </form>
</div>

<hr>

<h3>Workout List</h3>
<div class="workout-grid">
    @for(w of workoutService.workoutList(); track w._id){
        <div class="workout-card">
            <div class="card-info">
                <strong>Name: {{ w.name }}</strong>
                <span>Duration: {{ w.duration }}</span>
                <p>Type: {{ w.type }} | Difficulty: {{ w.difficulty }}</p>
            </div>
        </div>
    }
</div>